
#grid{
    display: flex;
    grid-template-rows: 20vh 1rem 2rem;
    grid-template-columns: auto auto auto;
}


h6{
    font-family: fantasy;
    font-size: larger;
    color: #7e799c; 
    text-align: left;
    text-decoration: underline;
    margin-bottom: 0;
}
h5{
    font-family: fantasy;
    text-decoration: none;
    color: #928fa0;
    font-size: 100px;
    list-style: none;
    margin-left: 10vh;
    margin-right: 2rem;
    margin-bottom: 170px;
     position: relative;
     right: 60vh;
     top: 4vh;
}
.descripcion{
    font-family: fantasy;
    text-decoration: none;
    color: #928fa0;
    position: relative;
     right: 55vh;
     bottom: 10vh;
     font-size: 28px;
    margin-left: 37vh;
     display: flex;
     flex-direction: row;
}
a.header_li{
    margin: 2px;
    color: black;
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 1rem;
}


.header_links{
    display: flex;
    font-family: fantasy;
    text-decoration: none;
    color: #3e2ca8;
    border-radius: 7px;
    list-style: none;
    margin-right: 2rem;
    transition: background 1s;
    justify-content: center;
    animation-name: mult;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.header_links:hover{
    background-color: rgb(138, 116, 158);
}

header{
    position: fixed;
    top: 0;
    left: var(--sidebar-width,0);
    right: 0;
    z-index: 1020;
}

.busca{
    margin-left: 450px;
}

header{
    background-color: #3e3d46;
}
body{
    background-color: #26252b;
    margin: 0;
}
.logo2{
    height: 60px;
    width: 60px;
    margin-left: 48.5%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}  
h1{
    text-align: center;
    font-family: fantasy;
    text-decoration: none;
    color: #000000;
    list-style: none;
    font-size: small;
}

h4{
    font-family: fantasy;
    font-size: small;
    color: #7e799c; 
    text-align: left; 
    margin-top: 4px;
}

.option{
    margin-top: 10px;
}



.image_prints{
    width: 480px;
    height: 400px;
    transition: 1s;
   margin-right: 1.5rem;
   margin-top: 1rem;
}
.image_prints:hover{
    opacity: 70%;
}

.perfil{
    transition: 1s;

}
.perfil:hover{
    opacity: 75%;
    height: 45px;
    width: 45px;


}

.area_texto{
    width: 70vh;
}

.columnas{
  position: relative;
  top: 100px;
  right: 50px;
  margin-left: 10vh;
  display: flex;
  justify-content: left;
  border: #3e3d46 solid;
  width: 50vh;
  border-radius: 15px;
  background-color: #201e25;
}

.columnas2{
    position: relative;
    top: 140px;
    right: 50px;
    margin-left: 9vh;
    display: flex;
    justify-content: left;
  }

.columnas3{
    position: relative;
    top: 160px;
    right: 50px;
    margin-left: 9vh;
    display: flex;
    justify-content: left;
  }
  .columnas4{
    position: relative;
    top: 190px;
    right: 50px;
    margin-left: 10vh;
    display: flex;
    justify-content: left;
  }

  .columnas5{
    position: relative;
    top: 210px;
    right: 50px;
    margin-left: 10vh;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: left;
  }

main{
    height: 100vh;
}

.footer_{
    background-color: #3e3d46;
    margin-bottom: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1020
}
.logo3{
    height: 28px;
    width: 28px;
    margin-bottom: 1rem;
   margin-left: 47%;
   
}
.perfil{
position: absolute;
right: 1rem;
bottom: 0.5rem;  
}


.button_enviar{
border: #0c0c11 solid;
background-color: transparent;
animation-name: oscurecer;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}


@keyframes oscurecer{
    0%{
        color: aliceblue;
        background-color: #000000;
        opacity: 100%;
    }
    25%{
        color: aliceblue;
        background-color: #000000;
        opacity: 75%;
    }
    50%{
        color: aliceblue;
        background-color: #000000;
        opacity: 50%;
    }
    75%{
        color: aliceblue;
        background-color: #000000;
        opacity: 75%;
    }
    100%{
       color: aliceblue;
        background-color: #000000;
        opacity: 100%;
    }
}
.button_enviar:hover{
    animation: none;
    color: aliceblue;
        background-color: #000000;
}
@media screen and (max-width: 575px) {
.columnas{
    width: 45vh;
}
.culumn2{
    display: flex;
}

}
@media screen and (min-width: 992px){
    .columnas{
        width: 75vh;
    }
    h4{
        font-size: medium;
        display: inline;
    
    }
    .option{
        width: 5vh;
    }
    

}
@media screen and (max-width: 992px){
.perfil{
display: none;
    }
}